html{
  scroll-behavior: smooth;
}


/* Tematicas */
.topics {
  margin-left: 50px;
  margin-right: 50px;
}

.subtitle {
  font-size: 50px;
}

.topics-option {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.topics-option a {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  padding: 15px 0;
  width: 200px;
  background-color: #dda15e;
  color: #fff;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.topics-option a:hover {
  background-color: #283618;
}

/* Cerca de ti */

.suggestions{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.suggestions-container{
  display: flex;
  justify-content: space-around;
}

.maps iframe {
  width: 900px;
  height: 700px;
  border-radius: 30px;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow:  8px 8px 10px 5px rgba(0,0,0,0.60);
}

.scroll-suggestions {
  background-color: #fff;
  border: none;
  padding: 30px;
  float: left;
  font-family: "Montserrat", sans-serif;
  height: 700px;
  width: 650px;
  overflow: auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow:  8px 8px 10px 5px rgba(0,0,0,0.60);
}

.scroll-suggestions::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-suggestions a{
  color: #000;
}

.card{
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  justify-content: space-around;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.20);
  transition:all 400ms ease;
  -webkit-transition:all 400ms ease;
  -moz-transition:all 400ms ease;
  -ms-transition:all 400ms ease;
  -o-transition:all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0,0,0,0.40);
  transform: translateY(-5%) translateX(-2%);
  -webkit-transform: translateY(-5%) translateX(-2%);
  -moz-transform: translateY(-5%) translateX(-2%);
  -ms-transform: translateY(-5%) translateX(-2%);
  -o-transform: translateY(-5%) translateX(-2%);
}

.image-container{
  margin: 0;
  margin-right: 30px;
}

.image{
  width: 250px;
  height: 200px;
}
.content{
  margin-right: 30px;
}

.content h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card p {
  font-weight: 600;
}

/* Destacados de la semana */

.highlights h2{
  margin-left: 50px;
}

.slider-container {
 margin-top: 0;
 margin-right: 50px;
 margin-left: 50px;
 border-radius: 50px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 -ms-border-radius: 50px;
 -o-border-radius: 50px;
}

.bx-wrapper{
  border: none;
  box-shadow: none;
  -webkit-box-shadow:none;
}

.bx-viewport{
  overflow: visible;
  background-color: #fefae0;
  align-items: center;
  padding: 30px 10px;
}

.content-slider a {
  color: #000;
}

.content-slider{
  background-color: #fff;
  width: 380px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.20);
  transition:all 400ms ease;
  -webkit-transition:all 400ms ease;
  -moz-transition:all 400ms ease;
  -ms-transition:all 400ms ease;
  -o-transition:all 400ms ease;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.content-slider img{
  border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -ms-border-radius: 30px 30px 0 0;
  -o-border-radius: 30px 30px 0 0;
}

.content-slider:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.40);
  transform: translateY(-5%) translateX(-2%);
  -webkit-transform: translateY(-5%) translateX(-2%);
  -moz-transform: translateY(-5%) translateX(-2%);
  -ms-transform: translateY(-5%) translateX(-2%);
  -o-transform: translateY(-5%) translateX(-2%);
}

/* Filtrar por plato */

.filter-food{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.food-container{
  display: flex;
  justify-content: space-around;
}

.food {
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}

.food a {
  display: block;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.food img {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 180px;
  box-shadow:  5px 5px 10px rgba(0,0,0,0.60);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.food:hover {
  transform: translateY(-5%) translateX(-2%);
  -webkit-transform: translateY(-5%) translateX(-2%);
  -moz-transform: translateY(-5%) translateX(-2%);
  -ms-transform: translateY(-5%) translateX(-2%);
  -o-transform: translateY(-5%) translateX(-2%);

}

/* Footer */

.footer {
  border-top: rgba(0,0,0,.25) solid 4px;
  width: 100%;
  height: 200px;
}
.footer .group-1 {
  height: 250px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box{
  width: 33%;
  text-align: center;
}

.image-logo{
  height: 150px;
}

.footer .group-1 h2 {
  text-align: center;
  color: #283618;
  font-size: 30px;
}

.footer .group-1 p {
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  color: #283618;
}

.red-social a {
  text-decoration: none;
  font-size: 35px;
  color: #283618;
  margin-right: 20px;
  text-align: center;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.red-social a:hover {
  color: #dda15e;
}

.footer .group-2{
  background-color: #283618;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .group-2 small{
  font-size: 15px;
}
