/* David */



.image-container {
    width: 60%;
    margin-left: 50px;

}

.image-container img {
    /* padding-top: 70px;
    padding-left: 13px ; */
    width: 1000px;
}

.login {
    background-color: #fff;
    width: 700px;
    height: 775px;
    padding: 30px;
    border: none;
    overflow: auto;
    margin: 0 100px 0 auto;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    box-shadow: 8px 3px 12px 0px rgba(0, 0, 0, 0.70);
    text-align: center;
}

.title {
    font-size: 70px;
    color: #283618;
    margin-bottom: 100px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.log-in {
    cursor: pointer;
    background-color: #fff;
    color: #283618;
    border: 4px solid #283618;
    width: 500px;
    height: 80px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: initial;
    display: flex;
    align-items: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.log-in i {
    color: inherit;
    font-size: 40px;
    margin-left: 40px;
    margin-right: 15px;
}

.log-in a {
    display: flex;
    color: #283618;
    font-family: 'Rubik', sans-serif;
}

.log-in:hover {
    background-color: #283618;
    color: #fff;
}



.login h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.registro {
    font-size: 30px;
    text-decoration: none;
    color: #DDA15E;
    font-weight: 600;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.registro:hover {
    color: #ff5c14;
}
