html {
    scroll-behavior: smooth;
}

header {
    margin-bottom: 50px;
}

.first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.info-container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}

.info h1 {
    color: #283618;
    text-transform: uppercase;
    font-size: 40px;
}

.item-info {
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    cursor: pointer;
}

.item-info i {
    color: #283618;
    margin-right: 15px;
}

.item-info a {
    color: #283618;
    font-size: 20px;
    font-weight: 600;
}

.item-info a:hover {
    color: #dda15e;
}

.options {
    margin-right: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-options {
    color: #283618;
    font-size: 30px;
    font-weight: 600;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    cursor: pointer;
}

.item-options i {
    margin-right: 10px;
}

.item-options:hover {
    color: #dda15e;
    transform: translateX(-3%);
    -webkit-transform: translateX(-3%);
    -moz-transform: translateX(-3%);
    -ms-transform: translateX(-3%);
    -o-transform: translateX(-3%);
}

.product-container {
    margin-bottom: 100px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
}

.box-left {
    display: flex;
    flex-direction: column;
    width: 33%;
}

/* Slider */

.slider-container {
    width:800px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


.slider img {
    width: 800px;
    height: 500px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    /* box-shadow: 8px 8px 10px 5px rgba(0, 0, 0, 0.60); */

}

.bx-wrapper {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.bx-viewport {
    overflow: hidden;
    background-color: #fefae0;

}

/* Reseñas */

.review-container {
    background-color: #fff;
    overflow: auto;
    width: 800px;
    height: 800px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 8px 8px 10px 5px rgba(0, 0, 0, 0.60);
}

.review-container::-webkit-scrollbar {
    -webkit-appearance: none;
 }

.review-container h2 {
    color: #283618;
    font-size: 50px;
    text-align: center;
}

.review-container h2 i {
    margin-right: 20px;
}

.card-review {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #283618;
}

.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
}

.profile img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.profile span {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.text p {
    font-size: 25px;
}

.text span {
    font-weight: 600;
    color: #bf930d;
    text-align: left;
    display: block;
    font-size: 30px;
}

.menu-container {
    overflow: auto;
    background-color: #fff;
    width: 50%;
    height: 1365px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 8px 8px 10px 5px rgba(0, 0, 0, 0.60);
}

.menu-container::-webkit-scrollbar {
    -webkit-appearance: none;
 }


.box-product{


     border-radius: 30px;
     -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
       -ms-border-radius: 30px;
        -o-border-radius: 30px;
     margin:  25px 35px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.20);
    transition: .5s ;
    -webkit-transition: .5s ;
    -moz-transition: .5s ;
    -ms-transition: .5s ;
    -o-transition: .5s ;
}

.box-product:hover{
    transform: translateX(-3%);
    -webkit-transform: translateX(-3%);
    -moz-transform: translateX(-3%);
    -ms-transform: translateX(-3%);
    -o-transform: translateX(-3%);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.40);

}

.imagen{
        height: 230px;
        width: 230px;
        margin-right: 20px;
        border-radius: 30px 0 0 0 ;
        -webkit-border-radius: 30px 0 0 30px ;
        -moz-border-radius: 30px 0 0 0 ;
        -ms-border-radius: 30px 0 0 0 ;
        -o-border-radius: 30px 0 0 0 ;
}

.img1{
    height: 230px;
    width: 230px;
    border-radius: 30px 0 0 30px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    -ms-border-radius: 30px 0 0 30px;
    -o-border-radius: 30px 0 0 30px;
}


.text{
    background-color: #fff;
    height: 230px;
    width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    flex-direction: column;

}

.titluo1 {
    color: black;
    margin-bottom: 0;
}

.parrafo1 {
     color: black;
     margin-bottom: 0;
}

.box-product span{
    display: block;
    text-align: right;
    margin-right: 25px;
    color: #000;
}

/* Footer */

.footer {
    border-top: rgba(0, 0, 0, .25) solid 4px;
    width: 100%;
    height: 200px;
}

.footer .group-1 {
    height: 250px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 33%;
    text-align: center;
}

.image-logo {
    height: 150px;
}

.footer .group-1 h2 {
    text-align: center;
    color: #283618;
    font-size: 30px;
}

.footer .group-1 p {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: #283618;
}

.red-social a {
    text-decoration: none;
    font-size: 35px;
    color: #283618;
    margin-right: 20px;
    text-align: center;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.red-social a:hover {
    color: #dda15e;
}

.footer .group-2 {
    background-color: #283618;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer .group-2 small {
    font-size: 15px;
}
