* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 60px - 30px - 43px);
}

body {
  background-color: #FEFAE0;
  margin: 0px;
  padding: 0px;
}

header {
  overflow: hidden;
  background-color: #283618;
  margin-bottom: 30px;
  height: 60px;
  width: 100%;
}

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  width: 40px;
  color: #FEFAE0;
  font-size: 40px;
  margin-left: 50px;
  margin-right: auto;
}

.back i {
  color: #FEFAE0;
}

.logo {
  width: 100%;
  text-align: center;
}

.logo img {
  height: 45px;
}

.copyright{
  background-color: #283618;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

.copyright small{
  font-size: 20px;
}
